<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>
    </div>

  </div>

  <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "434917e911294dfeaf5e20eb06f2f60a"}'></script><!-- End Cloudflare Web Analytics -->
</footer>
